{% extends 'base.html' %}

{% block head %}
  <title>S3 Simple Demo App</title>
{% endblock %}
 
  
{% block body %}

    <div class="content">
      
      <h3>Amazon S3App Demo</h3>

      <p>Amazon S3 Demo: Upload and download files to and from your S3 bucket</p>
    
      <div>
        <h3>Upload a file to an S3 bucket:</h3>
        <form method="POST" action="/upload" enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
        </form>
      </div>
  
  
      <div>
        <h3>The following are the files stored in the S3 bucket:</h3>
        <p>Click on the filename to download it.</p>
        <ul>
          {% for item in contents %}
            <li>
              <a href="/retrieve/{{ item.Key }}"> {{ item.Key }} </a>
            </li>
          {% endfor %}
        </ul>
  
      </div>

{% endblock %}
