{% extends 'bmtfe/base.html' %}
{% block title%} Forms template{% endblock title%}

{% block body %}
{% include 'bmtfe/navbar.html' %}
{% load widget_tweaks %}
<form action= "/forms" method='post'>
<div class="container">
    {% comment %} {{form.name}} {% endcomment %}
    <h4 class="card-title my-2">
        {% render_field form.name placeholder="Name" class+="form-contorl form-control-lg" %}
    </b></h4>
    <h4 class="card-title my-2">
        {% render_field form.roll placeholder="Roll Number" class+="form-contorl form-control-lg" %}
    </h4>
    <div class="form-check">
        <input {% render_field form.is_classrep class+="form-check-input" type="checkbox" value="true" id="flexCheckDefault" %}
        <label class="form-check-label" for="flexCheckDefault">
          Class Rep ?
        </label>
    </div>
    <div class="container">
        <div class="container-fluid" >
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Book Now</button>
        </div>  
    </div>
</form>
    

</div>


{% endblock body %}