{% extends 'bmtfe/base.html' %}
{% block title%} Know Your Food {% endblock title%}

{% block body %}
{% include 'bmtfe/navbar.html' %}
<div class="container-fluid">
    <div class="container my-3 text-justify text-center p-3 mb-2 bg-info text-white">
        <h1 style="font-size: 50px">{{"Know your food"| title}}</h1>
        <h5>Nutrition by API-Ninjas (https://rapidapi.com/)</h5>
    </div>
    <div class="container border">
        <form action= "/nutrition" method='post'>
            <div class="mb-3">
                <label for="search" class="form-label">Search</label>
                <input type="text" class="form-control" id="search" name="search" placeholder="Enter the food to know the contents." required>
            </div>
            <div class="container">
                <div class="d-grid gap-2" >
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary btn-lg">Show me!</button>
                </div>  
            </div>
        </form>
    </div>
</div>
    {%for nutrition in nutritions %}
    <div class="container border my-3">
        <div class="row">
            <div class="col-9 d-flex flex-column">
                <h3 class="card-title my-2">{{nutrition.name|upper}}</h3>
                <h4 class="card-title my-2">Calories : <b>{{nutrition.calories}}</b></h4>
                <h4 class="card-title my-2">Serving Size : {{nutrition.serving_size_g}}</h4>
                <h4 class="card-title my-2">Total Fat (grams): {{nutrition.fat_total_g}}</h4>
                <h4 class="card-title my-2">Total Saturated Fat (grams): {{nutrition.fat_saturated_g}}</h4>
                <h4 class="card-title my-2">Total Protein (grams): {{nutrition.protein_g}}</h4>
                <h4 class="card-title my-2">Total Sodium (miligrams): {{nutrition.sodium_mg}}</h4>
                <h4 class="card-title my-2">Total Potassium (miligrams): {{nutrition.potassium_mg}}</h4>
                <h4 class="card-title my-2">Total Carbohydrates (grams): {{nutrition.carbohydrates_total_g}}</h4>
                <h4 class="card-title my-2">Total Fiber (grams): {{nutrition.fiber_g}}</h4>
                <h4 class="card-title my-2">Total Sugar (grams): {{nutrition.sugar_g}}</h4>
            </div>
        </div>
    </div>
    {%endfor%}

{% endblock body %}